{% extends "layout.html" %}

{% block title %}Home{% endblock %}
{% block extra_head %}
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/home.css' %}">
{% endblock %}

{% block content %}
    <!-- <button id="add_button" onclick="showAddModal()">
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path></svg> Add Plant
        </span>
    </button> -->
    
    <!-- <div id="maincontainer">
        {% for p in plants %}
        <div class="plantcontainer" id="{{p.scientific_name}}" style="font-family: 'Oswald', sans-serif;">
          <img src="{{p.image_url}}" style="position: relative; left: 5%; top: 15%; height: 70%; width: auto; border: 4px solid rgb(236, 180, 59); border-radius: 15px;" />
          <span style="position: relative; margin-left: 5%; font-size: 2em;  font-weight: 500;">{{p.scientific_name}} [{{p.common_name}}]</span>
          <span style="position: absolute; top: 50%; left: 20%; font-size: 1em;">Bought on: {{p.add_date}}</span>
          <span style="position: absolute; top: 65%; left: 20%; font-size: 1em;">Last Watered: {{p.last_watered}}</span>
          <button class="plantBtn" id="editBtn">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
              <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
            </svg><br>EDIT
          </button>
          <button class="plantBtn" id="deleteBtn">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
              <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
            </svg><br>DELETE
          </button>
        </div>
        {% endfor %}
    </div>
      
        {% comment %} <div id="coupons" class="card coupons">
          <label class="title">Search by Scientific Name</label>
          <form class="form">
              <input type="text" placeholder="Scientific Name" class="input_field">
              <button>Search</button>
          </form>
        </div> {% endcomment %}
      
        <div class="card checkout" style="visibility: hidden;">
          <label class="title">Checkout</label>
          <div class="details">
            <span>Your cart subtotal:</span>
            <span>47.99$</span>
            <span>Discount through applied coupons:</span>
            <span>3.99$</span>
            <span>Shipping fees:</span>
            <span>4.99$</span>
          </div>
          <div class="checkout--footer">
            <label class="price"><sup>$</sup>57.99</label>
            <button class="checkout-btn">Checkout</button>
          </div>
        </div>
      </div> -->

      <!-- <script>
        //var add_btn = document.getElementById("add_button");
        function showAddModal()
        {
          window.location = "../admin/main/plants/add/";
          //var modal = document.getElementById("mastercont");
          //var coup = document.getElementById("coupons");
          //var modalWidth = coup.clientWidth;
          //var screenWidth = document.body.clientWidth;
          //modal.style.left = (screenWidth - modalWidth) / 2 + "px";
          //modal.style.visibility = "visible";
          //modal.style.position = "absolute";
        }

        function editPlant(plant_id)
        {
          window.location = "../admin/main/plants/add/";
        }

        function removePlant(plant_id)
        {
          window.location = "../admin/main/plants/add/";
        }

        function searchPlant()
        {
          
          //1. Make plants have an id or class with the plant name;
          //DONE

          //2. When searching, the javascript code searches for classes that contain or are equal to the string inputted;
          var plants = document.getElementsByClassName("plantcontainer");
          for (var i = 0; i < plants.length; i++) {
            var plantID = plants[i].id;
            console.log(plantID);
            var searchbarText = document.getElementById("searchText").value;
            console.log(searchbarText);
            var show = [];
            if(plantID.toLowerCase().includes(searchbarText.toLowerCase()))
            {
              if(show.includes(plantID) == false)
              {
                show.push(plantID);
                console.log("Pushed to Array");
                console.log(show);
              }
              else
              {
                console.log("Already in Array");
              }
            }
            else
            {
              console.log("No Matches Found!")
            }
          }

          //3. Hide plants that aren't in "show" array
          for (var i = 0; i < plants.length; i++) {
            var plantID = plants[i].id;
            if(show.includes(plantID) == false)
            {
              plants[i].style.visibility = "hidden";
            }
            else
            {
              plants[i].style.visibility = "visible";
            }
          }
        }
      </script> -->
    
{% endblock content %}